/*
  Font Families
*/


@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Italic-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("/fonts/FiraCode-VF.woff2") format("woff2");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

:root {

  --font-family-sans: "Inter", system-ui, -apple-system, "Segoe UI", sans-serif;
  --font-family-mono: "Fira Code", ui-monospace, SFMono-Regular, Menlo, monospace;
}
