/*
  Color Palette (Nord Theme)
*/


:root {

  /* Polar Night */
  --polar-night-dark: #242933;
  --polar-night-0:    #2e3440;
  --polar-night-1:    #3b4252;
  --polar-night-2:    #434c5e;
  --polar-night-3:    #4c566a;

  /* Snow Storm */
  --snow-storm-0:     #d8dee9;
  --snow-storm-1:     #e5e9f0;
  --snow-storm-2:     #eceff4;

  /* Frost */
  --frost-teal:       #8fbcbb;
  --frost-light-blue: #88c0d0;
  --frost-blue:       #81a1c1;
  --frost-dark-blue:  #5e81ac;

  /* Aurora */
  --aurora-red:       #bf616a;
  --aurora-orange:    #d08770;
  --aurora-yellow:    #ebcb8b;
  --aurora-green:     #a3be8c;
  --aurora-purple:    #b48ead;
}
