# folders
.DS_Store
./.DS_Store
./assets/.DS_Store
./data/.DS_Store
./files/.DS_Store
./files/bibs/.DS_Store
./files/pdfs/.DS_Store
./files/pres/.DS_Store
./layout/.DS_Store
./layout/css/.DS_Store
./layout/css/academicons-1.7.0/.DS_Store
./layout/css/academicons-1.7.0/css/.DS_Store
./layout/css/academicons-1.7.0/fonts/.DS_Store
./layout/css/font-awesome-4.7.0/.DS_Store
./layout/css/font-awesome-4.7.0/css/.DS_Store
./layout/css/font-awesome-4.7.0/fonts/.DS_Store
./layout/img/.DS_Store
./layout/js/.DS_Store
./R/.DS_Store
