# folders
.DS_Store
./.DS_Store
./css/.DS_Store
./css/academicons/.DS_Store
./css/academicons/css/.DS_Store
./css/academicons/fonts/.DS_Store
./js/.DS_Store
./img/.DS_Store
./pdf/.DS_Store
./assets/.DS_Store
