<article class="card">

  <header class="card__header">

    {{ headings::anchor(
      title="Education",
      level=2,
      icon=icons::cap(),
      class="card__title"
    ) }}

  </header>

  <div class="timeline">

    <div class="timeline__item">

      <div class="timeline__meta">
        <span class="timeline__year">2008</span>
      </div>

      <div class="timeline__content">

        <h3 class="timeline__title">
          MSc in Ecology {{ icons::shield_check() }}
        </h3>

        <p class="timeline__text">
          Focus on Biostatistics and Modeling
        </p>

        <p class="timeline__institution">
          Paul Sabatier University, Toulouse, France
        </p>

      </div>
    </div>

    <div class="timeline__item">

      <div class="timeline__meta">
        <span class="timeline__year">2006</span>
      </div>

      <div class="timeline__content">

        <h3 class="timeline__title">
          BSc in Biology {{ icons::shield_check() }}
        </h3>

        <p class="timeline__text">
          Focus on Biology of Organisms, Populations and Ecosystems
        </p>

        <p class="timeline__institution">
          Paul Sabatier University, Toulouse, France
        </p>

      </div>
    </div>
  </div>

</article>
