<article class="card">

  <header class="card__header">

    {{ headings::anchor(
      title="Open science",
      level=2,
      icon=icons::git_pr(),
      class="card__title"
    ) }}

  </header>

  <div class="card__content">

    <p>
      I contribute to open science by developing research software (R 
      packages, web applications, dashboards, and Shiny apps), releasing 
      large-scale biodiversity datasets, and publishing software and data 
      papers.
    </p>

    <p>
      I also promote reproducible research by sharing code, workflows, and 
      computational environments for transparent and reusable ecological 
      analysis.
    </p>
    
  </div>

</article>
