<article class="card">

  <header class="card__header">

    {{ headings::anchor(
      title="Teaching",
      level=2,
      icon=icons::cap(),
      class="card__title"
    ) }}

  </header>

  <div class="card__content">

    <p>I design and deliver hands-on training in data science and scientific 
      computing through CESAB's 
      <a href="https://www.fondationbiodiversite.fr/en/the-frb-in-action/programs-and-projects/le-cesab/develop-skills/" target="_blank">training programme</a> 
      and 
      <a href="https://frbcesab.github.io/tips-and-tricks/" target="_blank">Geek meetings</a>.
    </p>

    <p>
      My courses are openly shared on GitHub and cover R, Git, Quarto, data 
      management, and reproducible research, supporting researchers in 
      developing practical skills for ecological data analysis.
    </p>
    
  </div>

</article>
