.course-card {
  display: grid !important;

  grid-template-columns: 400px 1fr !important;
  grid-template-rows: auto auto;

  column-gap: var(--space-lg);
  row-gap: var(--space-md);

  scroll-margin-top: 100px;
}


/* Image à gauche */
.course-card__media {
  grid-column: 1;
  grid-row: 1;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.course-card__logo {
  width: 400px;

  object-fit: contain;

  border-radius: var(--radius-md);
}


/* Contenu droit */
.course-card__content {

  grid-column: 2;
  grid-row: 1;

  min-width: 0;

  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}


/* Titre */
.course-card__title {

  margin: 0;

  font-size: var(--text-lg);
  font-weight: var(--font-medium);

  text-align: left;
}


/* Description / sous-titre */
.course-card__description {

  margin: 0;

  font-size: var(--text-md);
  font-weight: var(--font-light);

  text-align: left;
}


/* Métadonnées */
.course-card__meta {

  display: flex;
  flex-direction: column;

  gap: 0.35rem;

  margin-top: var(--space-sm);

  font-size: var(--text-md);
}


.course-card__meta > span {

  display: flex;
  align-items: center;

  gap: 0.4rem;

  color: var(--text);
}


.course-card__meta svg {

  height: var(--text-sm);
  width: var(--text-sm);

  flex-shrink: 0;

  color: var(--text);
}


/* Liens en bas */
.course-card__links {

  grid-column: 2;
  grid-row: 2;

  display: flex;

  justify-content: flex-start;

  gap: var(--space-xs);

  // margin-top: var(--space-sm);
}


.course-card__links a {
  font-size: var(--text-xs);
}

.course-card__link--icon {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  line-height: 1;
}

.course-card__link--icon::after {
  content: none !important;
}

.course-card__link--icon:hover {
  color: var(--frost-teal);
}

.course-card__link--icon svg {
  width: 0.85em;
  height: 0.85em;
  display: inline-block;
  vertical-align: middle;

  color: inherit;
  // fill: currentColor;
  stroke: currentColor;
}