#timeline text {
  fill: var(--text-color);
  font-size: 14px;
}

#timeline rect {
  transition: all .2s;
}

#timeline rect:hover {
  opacity: .8;
}

#timeline svg text {
    fill: #ddd;
    font-size: 14px;
}

#tooltip {
  position: absolute;
  visibility: hidden;
  color: rgba(0, 0, 0, 1);
  background: white;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  pointer-events: none;
}

.timeline-card {
  z-index: 999;
}