<section class = "cards wall">
<div class="sticker-wall">

  <div class="sticker-wall__row">
    <a href="#rcompendium"><img src="/images/software/rcompendium.png" alt=""></a>
    <a href="#worldpa"><img src="/images/software/worldpa.png" alt=""></a>
    <a href="#funbiogeo"><img src="/images/software/funbiogeo.png" alt=""></a>
    <a href="#forcis"><img src="/images/software/forcis.png" alt=""></a>
    <a href="#rwoslite"><img src="/images/software/rwoslite.png" alt=""></a>
    <a href="#zoteror"><img src="/images/software/zoteror.png" alt=""></a>
    <a href="#chessboard"><img src="/images/software/chessboard.png" alt=""></a>
    <a href="#omdbr"><img src="/images/software/omdbr.png" alt=""></a>
  </div>

  <div class="sticker-wall__row sticker-wall__row--offset">
    <a href="#rdeps"><img src="/images/software/rdeps.png" alt=""></a>
    <a href="#rwosstarter"><img src="/images/software/rwosstarter.png" alt=""></a>
    <a href="#fairpub"><img src="/images/software/fairpub.png" alt=""></a>
    <a href="#rbibtools"><img src="/images/software/rbibtools.png" alt=""></a>
    <a href="#planner"><img src="/images/software/planner.png" alt=""></a>
    <a href="#popbayes"><img src="/images/software/popbayes.png" alt=""></a>
    <a href="#geoparser"><img src="/images/software/geoparser.png" alt=""></a>
  </div>

  <div class="sticker-wall__row">
    <a href="#rgeoservices"><img src="/images/software/rgeoservices.png" alt=""></a>
    <a href="#zenodor"><img src="/images/software/zenodor.png" alt=""></a>
    <a href="#codebergr"><img src="/images/software/codebergr.png" alt=""></a>
    <a href="#ncdeckr"><img src="/images/software/ncdeckr.png" alt=""></a>
    <a href="#rphenofish"><img src="/images/software/rphenofish.png" alt=""></a>
    <a href="#snakedist"><img src="/images/software/snakedist.png" alt=""></a>
    <a href="#gpack"><img src="/images/software/gpack.png" alt=""></a>
    <a href="#messages"><img src="/images/software/messages.png" alt=""></a>
  </div>


</div>
</section>